@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* to show boxes */
/* * {
  border: 1px black solid;
} */

/* simple reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signupContainer {
  width: 30vw;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 1rem;
  border: 1px black solid;
}

.signupForm {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
  align-items: center;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}
