@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/* to show boxes */
/* * {
  border: 1px black solid;
} */

/* simple reset */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

:root {
  --primaryColor: #18191a;
  --secondaryColor: #3c3e3f;
  --distinctiveColor: #1992d4;
  --distinctiveColorHover: #1992d4bf;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

/* LOGIN&SIGNUP PAGE */
.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(22rem, 25vw, 25rem);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--primaryColor);
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputContainer {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
}

.inputContainer > input {
  width: 100%;
  appearance: none;
  font-family: inherit;
  border: none;
  outline: none;
  background-color: inherit;
  border-bottom: 1px var(--secondaryColor) solid;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

.loginButton,
.signupButton {
  height: 2rem;
  width: 5rem;
  background-color: var(--distinctiveColor);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.loginButton:hover,
.signupButton:hover {
  background-color: var(--distinctiveColorHover);
}

.signupLoginInsteadInfo {
  padding-top: 0.5rem;
  text-align: center;
}

.links {
  color: var(--distinctiveColor);
}

.links:hover {
  color: var(--distinctiveColorHover);
}

/* MESSAGE BOARD */
.chatContainer {
  display: grid;
  grid-template-rows: 1fr 15fr 1fr;
  height: 95vh;
  width: clamp(25rem, 25vw, 40rem);
  border-radius: 1rem;
  background-color: var(--primaryColor);
  padding: 0 1.5rem 0 1.5rem;
  overflow-y: overlay;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chatContainer::-webkit-scrollbar {
  display: none;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px var(--secondaryColor) solid;
  background-color: var(--primaryColor);
  position: sticky;
  top: 0;
}

.userInfoChat {
  display: flex;
  justify-content: left;
  align-items: center;
}

.welcomeMessage {
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.profilePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--secondaryColor);
  font-size: 1.5rem;
}

.chatFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  background-color: var(--primaryColor);
  border-top: 1px var(--secondaryColor) solid;
  padding-top: 0.5rem;
  position: sticky;
  bottom: 0;
}

#messageInput {
  display: flex;
  flex-grow: 1;
  appearance: none;
  font-family: inherit;
  border: none;
  outline: none;
  margin-right: 0.5rem;
  background-color: inherit;
  resize: none;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 50px;
}

#messageInput::-webkit-scrollbar {
  display: none;
}

.sendMessageButton,
.logOutButton {
  height: 100%;
  width: 5rem;
  background-color: var(--distinctiveColor);
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.sendMessageButton:hover,
.logOutButton:hover {
  background-color: var(--distinctiveColorHover);
}

.sentMessage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-end;
  gap: 0.25rem;
  word-break: break-word;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.receivedMessage {
  display: flex;
  justify-content: left;
  align-items: center;
  align-items: flex-end;
  gap: 0.25rem;
  word-break: break-word;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.messageProfilePhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 24px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.messageAuthor {
  font-size: 11px;
  color: var(--secondaryColor);
  padding-bottom: 0.1rem;
}

.messageText {
  background-color: var(--secondaryColor);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.sentMessage .messageText {
  background-color: var(--distinctiveColor);
}

@media (max-width: 600px) {
  * {
    font-size: 14px;
  }

  .chatContainer {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .signupContainer {
    width: 80vw;
  }
}

/* 
TO DO:
- error messages on login/signup
- see-through footer?
- send on enter?
- dark/white theme
- visible or invisible scrollbar?
*/
